@use '../utils/breakpoints';

.description-section {
    > .contentbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem 1rem;

        > .title {
            font-size: 2rem;
            font-weight: bold;
        }

        > .description {
            opacity: .7;
        }

        > .shop-btn {
            align-self: flex-start;
        }

        @include breakpoints.media-breakpoint-up( 830px ) {
            padding: 3rem 5%;
        }
    }

    > .desktop-controls {
        display: none;

        @include breakpoints.media-breakpoint-up( 992px ) {
            display: flex;
        }
    }

    @include breakpoints.media-breakpoint-up( 992px ) {
        display: grid;
        align-content: space-between;
        height: 100%;
    }
}